<div class="product card">
  <% if product.image.present? %>
	<%= link_to (image_tag product.image, class: 'card-img-top'), product %>
  <% end %>
  <div class="card-block"> 
    <h4 class="card-title no-default-link-styles"> <%= link_to product.name, product %> </h4>
	  <p class="card-text"> <%= number_to_currency(product.price) %> </p>
	  <p class="card-text"> <%= link_to 'Remove item from cart', remove_item_from_cart_store_path(product), method: :post %> </p>
  </div>
</div>