<div class="container-fluid">
    <%= debug session[:cart] %>
	<h1>Welcome!</h1>
	<%= paginate @products %>
	<% @products.each_slice(@deck_size) do |product| %>
	  <div class="card-deck-wrapper">
	  <div class="card-deck">
	    <%= render product %>
	  </div>
	</div>
	<% end %>
</div>